# build products...
*.py[co]
# Mac OS X stuff...
.DS_Store
# test output
*.retry
# Eclipse IDE and Pydev Stuff
.project
org.eclipse.*
.settings/*
.pydevproject
.project
#tests/pydbg/*
Pipfile*
tests/pydbg
